<% page_title "Trips" %>
<div class="column">
	<h1>Search for Trips</h1>
	<%= form_tag(search_path, :class => "formtastic") do |f| %>
	<fieldset class="inputs"><ol>
		<li class="string optional">
			<%= label_tag "search[string]", "Search for" %>
			<%= text_field_tag "search[string]" %>
			<p class="inline-hints">Anything you're looking for (e.g. lake, fishing, bears&hellip;)</p>
		</li>
		<li class="string optional">
			<%= label_tag "search[location]", "Near" %>
			<%= text_field_tag "search[location]", (current_user.try(:locale).blank? ? "" : current_user.locale) %>
			<p class="inline-hints">Add a location to search around that area</p>
		</li>
		<li class="select optional">
			<%= label_tag "search[within]", "Within" %>
			<%= select "search", "within", [["Any Distance", nil], ["5 miles", 5],["25 miles", 25],["100 miles", 100],["200 miles", 200],["500 miles", 500]] %>
			
		</li>
		
		<li class="boolean optional">
			<label for="search_backpacks">
				<%= check_box_tag "search[backpacks]", 1, true %>
				Backpacks</label><div class="clearer"></div>
			<label for="search_backpack">
				<%= check_box_tag "search[trips]", 1, true %>
				Trips</label>
		</li>
	</ol></fieldset>
	<fieldset class="buttons">
		<%= submit_tag "Search", :class => "super awesome large button" %>
	</fieldset>
	<% end %>
</div>
<div class="column last">
	<h1>Results</h1>
	<%= @trips.each do |trip| %>
	<%= cache "#{trip.cache_key}_home" do %>
	<div class="trip">
		<div class="profile-photo"><a href="<%= user_trips_path(trip.user) %>" class="micro-profile-photo">
			<%= image_tag(trip.user.avatar.url(:micro)) unless trip.user.avatar_file_name.blank? %>
		</a></div>
		<p class="title"><%= link_to h(trip.name), user_trip_path(trip.user, trip) %></p>		
		<p class="date">
			<% if trip.nights > 0 %>
				Backpacked <%= trip.hiked_at.strftime("%A, %B #{trip.hiked_at.day.ordinalize}") %> to 
				<%= (trip.hiked_at + trip.nights.days).strftime("%A, %B #{(trip.hiked_at + trip.nights.days).day.ordinalize} %Y") %>
			<% else %>
				Tripd <%= trip.hiked_at.strftime("%A, %B #{trip.hiked_at.day.ordinalize}, %Y") %>
			<% end %>
		</p>
		<div class="report">
			<%= markdown("#{trip.report[0..180]}&hellip;") unless trip.report.blank? %>
			<p class="links">
				<%= link_to("#{image_tag("page_white_text.png")} Read full report".html_safe, user_trip_path(trip.user, trip)) unless trip.report.blank? %>
				<%= link_to("#{image_tag("comment.png")} #{trip.comments.length} comments".html_safe, "#{user_trip_path(trip.user, trip)}#comments") %>
			</p>
		</div>
		<div class="photos"><%= render :partial => 'trips/photo', :collection => trip.photos, :locals => { :size => :micro } %></div>
		<p class="meta">
			<b><%= link_to h(trip.user.name), user_trips_path(trip.user) %></b> 
			posted this <%= time_ago_in_words(trip.created_at) %> ago
		</p>
		
	</div>
	<% end %>
	<% end %>
</div>
