<% page_title "#{@user.name}" %>
<% unless @trips.blank? %>

<% content_for :header do %>
	<%= link_to(image_tag(@user.avatar.url(:thumbnail), :class => "floatright", :id => "user-left"), @user.avatar.url(:medium, false)) unless @user.avatar_file_name.blank? %>

	<h1><%= "In #{@year}," unless @year.blank? %>
	<%= @year == DateTime.now.year ? "#{@user.name} has taken" : "#{@user.name} went on" %> 
	<%= "#{pluralize @trips.length, "trip"}, hiked a total of #{number_with_precision(@trips.map(&:mileage).sum, :significant => true, :delimiter => ',')} miles, #{'and' if @trips.map(&:nights).sum == 0} climbed #{number_with_precision(@trips.map(&:elevation).sum, :significant => true, :delimiter => ',')} feet" %><%= @trips.map(&:nights).sum > 0 ? ", and spent #{pluralize @trips.map(&:nights).sum, "night"} under the stars.</a></h1>".html_safe : ".</h1>".html_safe %>
<% end %>

<% content_for :before_header do %>
<div id="map" style="height:150px;z-index:0;position:relative;top:-10px;border-bottom:1px solid black"></div>
<%= image_tag("zoom.png", :title => "scale the map", :onclick => "beef.toggleMapSize(150)", :id => "resize") %>
<% end %>

<h2>
	<%= @year %> Trips <%= " To Date" if DateTime.now.year == @year %>
	<%= link_to(image_tag("rss.png", :alt => "Subscribe via RSS"), user_trips_path(@user, :rss)) %>
</h2>
<%= render @trips, :include_name => false %>

<% unless @other_years_trips.blank? %>
<p>
	View trips from:
	<% @other_years_trips.each do |year| %>
		<%= link_to(year, user_trips_path(@user, :year => year), :class => "super awesome large button") %>
	<% end %>
</p>
<% end %>

<% content_for :head do %>
<script type="text/javascript">
$(document).ready(function(){
	beef.defaults.zoom 			= 5;
	beef.defaults.lat			= 45;
	beef.defaults.lng			= -118;
	beef.defaults.doubleclick 	= true;
	beef.defaults.scrollwheel 	= false;
	beef.load();
	beef.markers.populate(<%= @trips.map { |trip| { 
		:id 			=> trip.id, 
		:lat 			=> trip.lat,
		:lng			=> trip.lng,
		:info			=> trip.name
	} }.to_json.html_safe %>);
	beef.zoomToMarkers();
	topo();
});
</script>
<% end %>

<% else %>
	<% if current_user.try(:id) != params[:user_id].to_i %>
		<h2><%= @user.name %> hasn't added any trips yet!</h2>
	<% else %>
		<h2>You haven't added any trips yet! <%= link_to "Add a trip!", new_user_trip_path(@user) %></h2>
	<% end %>
<% end %>