<% page_title "Edit your comment" %>

<h1>Now Editing</h1>
<p class="note">In response to &ldquo;<%= @trip.name %>&rdquo;</p>
<div class="column">
<%= semantic_form_for([@trip, @comment], url: hike_comment_path(@trip, @comment)) do |f| %>
<%= f.inputs do %>
	<%= f.input :body, :label => "Comment" %>
	<%= f.input :trip_id, :as => :hidden %>
	<%= f.input :user_id, :as => :hidden %>
<% end %>
<%= f.actions do %>
	<%= f.submit "Edit your comment", :class => "super awesome large button" %>
	<%= link_to "or cancel", :back %>
<% end %>
<% end %>
</div>