<% page_title "Reset your password" %>
<h1>Reset your password!</h1>
<p>It happens to the best of us. We'll email you a temporary password. When you get it, come on back and log in, and then click settings in the top bar to change your password to something more memorable.</p>
<%= form_tag({:action => "reset_password"}, {:class => "formtastic"}) do %>
	<fieldset class="inputs"><ol> 
			<li class="string required">
				<%= label_tag :email, "Email" %>
				<%= text_field_tag :email, nil, :size => 43 %>
			</li>
	</ol></fieldset>
	<fieldset class="buttons"><ol>
		<%= submit_tag "Reset Password", :class => "super awesome large button" %>
		<%= link_to "or go back", :back %>
	</ol></fieldset>
<% end -%>