<div class="box hike">
	<div class="column dominant">
		<h2>
			<%= link_to hike.name, user_hike_path(hike.user, hike) %>
			<%= link_to(image_tag("edit.png"), edit_user_hike_path(hike.user,hike)) if personal_current_user %>
		</h2>
		<% unless include_name.blank? %>
		<h3 class="includes-photo">
			<div class="profile-photo"><a href="<%= user_hikes_path(hike.user) %>" class="micro-profile-photo">
				<%= image_tag(hike.user.avatar.url(:micro)) unless hike.user.avatar_file_name.blank? %>
			</a></div>
			<%= hike.user.name %> Went
			<% if hike.nights > 0 %>
				Backpacking
			<% else %>
				Hiking
			<% end %>
		</h3>
		<% end %>
		<%= markdown(hike.report) %>
		<p>
			<%= comments_and_likes(hike) %>
		</p>
		</div>
		<div class="column subordinant last">
		<h3>
			<% if hike.nights > 0 %>
				<%= hike.hiked_at.strftime("%B %e") %> &ndash;
				<%= (hike.hiked_at + hike.nights.days).strftime("%B %e, %Y") %>
			<% else %>
				<%= hike.hiked_at.strftime("%B %e, %Y") %>
			<% end %>
		</h3>
		<%= image_tag(static_map(hike.lat, hike.lng)) %>
		<ul class="meta">
			<li><%= hike.mileage % 1 == 0 ? hike.mileage.to_i : hike.mileage  %> miles of hiking</li>
			<li><%= hike.elevation %>' elevation gain</li>
			<%= "<li>#{hike.nights} #{hike.nights == 1 ? 'night' : 'nights'}</li>".html_safe if hike.nights > 0 %>
		</ul>
		<% unless hike.photos.blank? %>
		<div class="photo_box">
			<%= render :partial => 'photo', :collection => hike.photos, :locals => { :size => :thumbnail } %>
		</div>
		<% end %>
	</div>
	<div class="clearer"></div>
</div>
