<div class="hike">
	<%= render :partial => "hearts/form", :locals => { :hike => hike } if current_user %>
	<div class="profile-photo"><a href="<%= user_hikes_path(hike.user) %>" class="micro-profile-photo">
		<%= image_tag(hike.user.avatar.url(:micro)) unless hike.user.avatar_file_name.blank? %>
	</a></div>
	<p class="title"><%= link_to h(hike.name), user_hike_path(hike.user, hike) %></p>		
	<p class="date">
		<% if hike.nights > 0 %>
			Backpacked <%= hike.hiked_at.strftime("%A, %B #{hike.hiked_at.day.ordinalize}") %> to 
			<%= (hike.hiked_at + hike.nights.days).strftime("%A, %B #{(hike.hiked_at + hike.nights.days).day.ordinalize} %Y") %>
		<% else %>
			Hiked <%= hike.hiked_at.strftime("%A, %B #{hike.hiked_at.day.ordinalize}, %Y") %>
		<% end %>
	</p>
	<div class="report">
		<%= markdown("#{hike.report[0..180]}&hellip;") unless hike.report.blank? %>
		<p class="links">
			<%= link_to("#{image_tag("page_white_text.png")} Read full report".html_safe, user_hike_path(hike.user, hike)) unless hike.report.blank? %>
			<%= comments_and_likes(hike) %>
		</p>
	</div>
	<div class="photos"><%= render :partial => 'hikes/photo', :collection => hike.photos, :locals => { :size => :micro } %></div>
	<p class="meta">
		<b><%= link_to h(hike.user.name), user_hikes_path(hike.user) %></b> 
		posted this <%= time_ago_in_words(hike.created_at) %> ago
	</p>
    <!-- <%= hike.score %> -->
</div>