<div id="heart_<%= trip.id %>" class="heart">
<% if current_user %>
	<% heart = Heart.personal(trip, current_user) %>
	<% if heart.persisted? %>
		<%= link_to [trip, heart], :method => :delete, :remote => true do %>
			<%= image_tag("heart.png", :alt => "Unheart this trip") %>
		<% end %>
	<% else %>
		<%= form_for [trip, heart], :remote => true do |f| %>
			<%= image_submit_tag "heart_bw.png", :title => "Heart this trip!" %>
		<% end %>
	<% end %>
<% else %>
	<%= link_to image_tag("heart_bw.png"), new_user_path %>
<% end %>
<%= trip.hearts.count if trip.hearts.count > 0 %>
</div>