<% title "Hiking and backpacking statistics tracker" %>
<% @hikes = Hike.all %>
<% content_for :before_header do %>
<div id="map" style="height:150px;z-index:0;position:relative;top:-10px;border-bottom:1px solid black"></div>
<%= image_tag("zoom.png", :title => "scale the map", :onclick => "beef.toggleMapSize(150)", :id => "resize") %>
<% end %>
<% content_for :header do %>
<p class="main_lede">A tool for recording your trips into the wilderness, and discovering new ones. Join the <%= User.count %> members and add to the <%= Hike.count %> hikes already recorded.</p>
<% end if current_user.blank? %>
<% content_for :head do %>
<script type="text/javascript">
$(document).ready(function(){	
	beef.defaults.zoom 			= 4;
	beef.defaults.lat			= 45;
	beef.defaults.lng			= -105;
	beef.defaults.doubleclick 	= true;
	beef.defaults.scrollwheel 	= false;
	beef.load();
	topo();
	
	// Load all the markers
	beef.markers.populate(<%= @hikes.map { |hike| { 
		:id 			=> hike.id, 
		:lat 			=> hike.lat,
		:lng			=> hike.lng,
		:info			=> "<p>#{link_to(hike.name, user_hike_path(hike.user, hike))}</p>
							<p>Hiked #{hike.hiked_at.strftime('%D')} by
							#{link_to(hike.user.name, user_hikes_path(hike.user))}</p>"
	} }.to_json %>);
	
	// beef.zoomToMarkers();
});
</script>
<% end %>

<% if current_user.blank? %>
	<p class="lede"><b>Not a member yet?</b> <%= link_to "Sign up now", new_user_path %> to start tracking your hikes!</p>
<% end %>

<br /><br />
<div class="column">
	<h2>Latest Hikes</h2>
	<% @hikes = Hike.all(:limit => 15, :order => "hiked_at DESC, created_at DESC") %>
	<% @hikes.each do |hike| %>
	<% cache "#{hike.cache_key}_home" do %>
	<div class="hike">
		<div class="profile-photo"><a href="<%= user_hikes_path(hike.user) %>" class="micro-profile-photo">
			<%= image_tag(hike.user.avatar.url(:micro)) unless hike.user.avatar_file_name.blank? %>
		</a></div>
		<p class="title"><%= link_to h(hike.name), user_hike_path(hike.user, hike) %></p>		
		<p class="date">
			<% if hike.nights > 0 %>
				Backpacked <%= hike.hiked_at.strftime("%A, %B #{hike.hiked_at.day.ordinalize}") %> to 
				<%= (hike.hiked_at + hike.nights.days).strftime("%A, %B #{(hike.hiked_at + hike.nights.days).day.ordinalize} %Y") %>
			<% else %>
				Hiked <%= hike.hiked_at.strftime("%A, %B #{hike.hiked_at.day.ordinalize}, %Y") %>
			<% end %>
		</p>
		<div class="report">
			<%= markdown("#{hike.report[0..180]}&hellip;") unless hike.report.blank? %>
			<p class="links">
				<%= link_to("#{image_tag("page_white_text.png")} Read full report", user_hike_path(hike.user, hike)) unless hike.report.blank? %>
				<%= link_to("#{image_tag("comment.png")} #{hike.comments.length} comments", "#{user_hike_path(hike.user, hike)}#comments") %>
			</p>
		</div>
		<div class="photos"><%= render :partial => 'hikes/photo', :collection => hike.photos, :locals => { :size => :micro } %></div>
		<p class="meta">
			<b><%= link_to h(hike.user.name), user_hikes_path(hike.user) %></b> 
			posted this <%= time_ago_in_words(hike.created_at) %> ago
		</p>
		
	</div>
	<% end %>
	<% end %>
</div>
<div class="column last">
	<h2>Most miles in <%= DateTime.now.year %></h2>
	<table>
		<tr>
			<th>Name</th>
			<th style="width:48%">Mileage</th>
		</tr>
		<% @users = User.all(:limit => 10, :order => "ytd_mileage DESC") %>
		<% @users.each do |user| %>
		<% cache "#{user.cache_key}_miles" do %>
		<tr <%= "class='me'" if current_user.try(:id) == user.id %>>
			<td><%= image_tag('star.png') %> <%= link_to user.name, user_hikes_path(user) %></td>
			<td><%= user.ytd_mileage %> total miles</td>
		</tr>
		<% end %>
		<% end %>
	</table>
	
	<h2>Most Uphill in <%= DateTime.now.year %></h2>
	<table>
		<tr>
			<th>Name</th>
			<th style="width:48%">Feet Gained</th>
		</tr>
		<% @users = User.all(:conditions => ["ytd_mileage > ? AND ytd_elevation > ?", 0, 0]) %>
		<% @users.sort!{|a,b| (b.ytd_elevation) <=> (a.ytd_elevation) } %>
		<% @users[0..9].each do |user| %>
		<% cache "#{user.cache_key}_uphill" do %>
		<tr <%= "class='me'" if current_user.try(:id) == user.id %>>
			<td><%= image_tag('star.png') %> <%= link_to user.name, user_hikes_path(user) %></td>
			<td><%= user.ytd_elevation %>'</td>
		</tr>
		<% end %>
		<% end %>
	</table>
	
	<h2>Most Nights in <%= DateTime.now.year %></h2>
	<table>
		<tr>
			<th>Name</th>
			<th style="width:48%">Nights</th>
		</tr>
		<% @users = User.all(:conditions => ["ytd_nights > ? AND ytd_mileage > ?", 0, 0]) %>
		<% @users.sort!{|a,b| (b.ytd_nights) <=> (a.ytd_nights) } %>
		<% @users[0..9].each do |user| %>
		<% cache "#{user.cache_key}_nights" do %>
		<tr <%= "class='me'" if current_user.try(:id) == user.id %>>
			<td><%= image_tag('star.png') %> <%= link_to user.name, user_hikes_path(user) %></td>
			<td><%= user.ytd_nights %></td>
		</tr>
		<% end %>
		<% end %>
	</table>
	
	<h2>Newest Members</h2>
	<table>
		<tr>
			<th>Name</th>
			<th style="width:48%">Joined</th>
		</tr>
		<% @users = User.all(:limit => 10, :order => "created_at DESC") %>
		<% @users.each do |user| %>
		<tr <%= "class='me'" if current_user.try(:id) == user.id %>>
			<td><%= image_tag('star.png') %> <%= link_to user.name, user_hikes_path(user) %></td>
			<td><%= time_ago_in_words(user.created_at) %> ago</td>
		</tr>
		<% end %>
	</table>
</div>
<div class="clearer"></div>
