<% page_title("Hiking and backpacking statistics tracker") %>

<% content_for :before_header do %>
<div id="map" style="height:150px;z-index:0;position:relative;top:-10px;border-bottom:1px solid black"></div>
<%= image_tag("zoom.png", :title => "scale the map", :onclick => "beef.toggleMapSize(150)", :id => "resize") %>
<% end %>

<% content_for :header do %>
<p class="main_lede">A tool for recording your trips into the wilderness and discovering new ones. Join the <%= @user_count %> members and add to the <%= @hikes.size %> hikes already recorded.</p>
<% end if current_user.blank? %>

<% content_for :head do %>
<script type="text/javascript">
$(document).ready(function(){	
	beef.defaults.zoom 			= 4;
	beef.defaults.lat			= 45;
	beef.defaults.lng			= -105;
	beef.defaults.doubleclick 	= true;
	beef.defaults.scrollwheel 	= false;
	beef.load();
	topo();
	
	// Load all the markers
	beef.markers.populate(<%= @hikes[0..100].map { |hike| { 
		:id 			=> hike.id, 
		:lat 			=> hike.lat,
		:lng			=> hike.lng,
		:info			=> "<p>#{link_to(hike.name, user_hike_path(hike.user, hike))}</p>
							<p>Hiked #{hike.hiked_at.strftime('%D')} by
							#{link_to(hike.user.name, user_hikes_path(hike.user))}</p>"
	} }.to_json.html_safe %>);
});
</script>
<% end %>

<% if current_user.blank? %>
	<p class="lede"><b>Not a member yet?</b> <%= link_to "Sign up now", new_user_path %> to start tracking your hikes!</p>
<% end %>

<div class="column">
	<h2>Latest Hikes</h2>
	<% @hikes[0..25].each do |hike| %>
		<%= render "hikes/small_hike", :hike => hike %>
	<% end %>
</div>

<div class="column last">
	<h2>Most miles in <%= DateTime.now.year %></h2>
	<table>
		<tr>
			<th>Name</th>
			<th style="width:48%">Mileage</th>
		</tr>
		<% @top_mileage.each do |user| %>
		<tr <%= "class='me'" if current_user.try(:id) == user.id %>>
			<td><%= image_tag('star.png') %> <%= link_to user.name, user_hikes_path(user) %></td>
			<td><%= user.ytd_mileage %> total miles</td>
		</tr>
		<% end %>
	</table>
	<% if current_user && !current_user.ytd_mileage.blank? # && !@top_mileage.include?(current_user) %>
	<p class="table-note">
		You are #<%= @users.reject{|a| a.ytd_mileage.blank? }.sort{|a,b| b.ytd_mileage <=> a.ytd_mileage }.index(current_user) + 1 %> for the year
	</p>
	<% end %>
	
	<h2>Most Uphill in <%= DateTime.now.year %></h2>
	<table>
		<tr>
			<th>Name</th>
			<th style="width:48%">Feet Gained</th>
		</tr>
		<% @top_elevation.each do |user| %>
		<tr <%= "class='me'" if current_user.try(:id) == user.id %>>
			<td><%= image_tag('star.png') %> <%= link_to user.name, user_hikes_path(user) %></td>
			<td><%= number_with_precision(user.ytd_elevation, :significant => true, :delimiter => ',') %>'</td>
		</tr>
		<% end %>
	</table>
	<% if current_user && !current_user.ytd_elevation.blank? # && !@top_elevation.include?(current_user) %>
	<p class="table-note">
		You are #<%= @users.reject{|a| a.ytd_elevation.blank? }.sort{|a,b| b.ytd_elevation <=> a.ytd_elevation }.index(current_user) + 1 %> for the year
	</p>
	<% end %>
	
	
	<h2>Most Uphill Per Mile in <%= DateTime.now.year %></h2>
	<table>
		<tr>
			<th>Name</th>
			<th style="width:48%">Feet Gained per Mile</th>
		</tr>
		<% @top_elevation_per_mile.each do |user| %>
		<tr <%= "class='me'" if current_user.try(:id) == user.id %>>
			<td><%= image_tag('star.png') %> <%= link_to user.name, user_hikes_path(user) %></td>
			<td><%= number_with_precision(user.ytd_elevation / user.ytd_mileage, :significant => true, :delimiter => ',') %>' per mile</td>
		</tr>
		<% end %>
	</table>
	<p class="table-note">Statistic returned thanks to <%= link_to "Eric Peterson", user_hikes_path("35-Eric-Peterson") %></p>
	
	<h2>Most Nights in <%= DateTime.now.year %></h2>
	<table>
		<tr>
			<th>Name</th>
			<th style="width:48%">Nights</th>
		</tr>
		<% @top_nights.each do |user| %>
		<tr <%= "class='me'" if current_user.try(:id) == user.id %>>
			<td><%= image_tag('star.png') %> <%= link_to user.name, user_hikes_path(user) %></td>
			<td><%= user.ytd_nights %></td>
		</tr>
		<% end %>
	</table>
	<% if current_user && !current_user.ytd_nights.blank? # && !@top_nights.include?(current_user) %>
	<p class="table-note">
		You are #<%= @users.reject{|a| a.ytd_nights.blank? }.sort{|a,b| b.ytd_nights <=> a.ytd_nights }.index(current_user) + 1 %> for the year
	</p>
	<% end %>
	
	<h2>Newest Members</h2>
	<table>
		<tr>
			<th>Name</th>
			<th style="width:48%">Joined</th>
		</tr>
		<% @newest_members.each do |user| %>
		<tr <%= "class='me'" if current_user.try(:id) == user.id %>>
			<td><%= image_tag('star.png') %> <%= link_to user.name, user_hikes_path(user) %></td>
			<td><%= time_ago_in_words(user.created_at) %> ago</td>
		</tr>
		<% end %>
	</table>
</div>
<div class="clearer"></div>
