$(document).ready(function(){
	
	$(window).resize(function(){
		$("#map").css("height", ($(window).height() - 63) + "px");
	});
	$("#map").css("height", ($(window).height() - 63) + "px");
	
	beef.defaults.zoom 		= <%= @route.zoom.blank? ? 5 : h(@route.zoom) %>;
	beef.defaults.lat			= <%= @route.lat.blank? ? 40 : h(@route.lat) %>;
	beef.defaults.lng			= <%= @route.lng.blank? ? -100 : h(@route.lng) %>;
	beef.defaults.doubleclick 	= true;
	beef.defaults.scrollwheel 	= true;
	beef.load();
	topo();
	
	<%= "map.setMapTypeId('#{h @route.map_type}')" unless @route.map_type.blank? %>
	
	<% unless @route.path.blank? %>
	// Add the drawn path to the map
	var path = google.maps.geometry.encoding.decodePath(unescape('<%= @route.path %>'));
	
	beef.polylines.startDrawing();
	
	path.forEach(function(point,key){
		if (key == path.length - 1) {
			beef.polylines.addLatLng({latLng: point})
		} else {
			beef.variables.polylinePath.push(point);
			beef.infoWindow.open("new", "<a href='javascript:beef.undo();'>Remove this trail?</a></em></div>");
			if (beef.variables.polylinePath.getLength() == 1) {
				beef.variables.markers["new"] = new google.maps.Marker({
					map: 				map,
					position: 	beef.variables.polylinePath.getAt(0)
				});
			}
		}
	})
	beef.polylines.stopDrawing();
	<% end %>

	// DISPLAY WEATHER

	google.maps.event.addListener(map, "rightclick", function(e){
		beef.variables.info.setPosition(e.latLng);
		beef.variables.info.setContent("<div style='text-align:center'><img src='/images/wait.gif' /></div>");
		beef.variables.info.open(map);
		eService = new google.maps.ElevationService();
		
		$.post("<%= forecasts_path %>", { forecast: { lat: e.latLng.lat(), lng: e.latLng.lng() } }, function(forecast){
			var $output = $("<div class='forecast'></div>");
			
			
			$.each(forecast, function(i, day){
				var $day = $("<div class='day'></div>");
				$day.append("<div class='forecast_title'>"+ day.title +"</div>")
				$day.append("<div class='image'><img src='"+ day.image_url +"' /></div>");
				$day.append("<div class='weather_summary'>"+ day.weather_summary +"</div>");
				$day.append("<div class='high'>" + day.high + "</div>");
				$day.append("<div class='low'>" + day.low + "</div>");
				$output.append($day);
			});
			$output.append("<div class='clearer'></div><p><a href='http://forecast.weather.gov/MapClick.php?textField1="+ e.latLng.lat() +"&textField2="+ e.latLng.lng() +"' target='_blank'>view more detail on weather.gov</a></p>");
			beef.variables.info.setContent($output.html());
		}, "json");
	});
	
	var updateURL = function(e) {
		queryString = "?lat=" + 
			map.getCenter().lat() + 
			"&lng=" 		+ map.getCenter().lng() + 
			"&zoom=" 		+ map.getZoom() +
			"&map_type=" 	+ map.getMapTypeId();
			if (beef.variables.polylinePath != null) {
				queryString += "&hikepath=" + 
				escape(google.maps.geometry.encoding.encodePath(beef.variables.polylinePath.getArray()));
			}
		
		window.history.replaceState("shrug", "map changed", "/map" + queryString);
	}


	var updateForm = function(e) {
		$("#route_lat").val(map.getCenter().lat());
		$("#route_lng").val(map.getCenter().lng());
		$("#route_zoom").val(map.getZoom());
		$("#route_map_type").val(map.getMapTypeId());
		$("#route_title").val($("#title").val());
		try { 		
			$("#route_path").val(escape(google.maps.geometry.encoding.encodePath(beef.variables.polylinePath.getArray())));
		} catch(e) {}
	}
	
	// Add Listeners to update form
	google.maps.event.addListener(map, "center_changed", updateForm);
	google.maps.event.addListener(map, "zoom_changed", updateForm);
	google.maps.event.addListener(map, "maptypeid_changed", updateForm);
	google.maps.event.addListener(map, "click", updateForm);
	$("#title").keyup(updateForm);
	
	google.maps.event.addListener(map, "center_changed", updateURL);
	google.maps.event.addListener(map, "zoom_changed", updateURL);
	google.maps.event.addListener(map, "maptypeid_changed", updateURL);
	google.maps.event.addListener(map, "click", updateURL);
	
});
