<% page_title "Trip Planning Map" %>
<style type="text/css" media="screen">
	#map {
		position:absolute;
		top:46px;	left:0;
	}
</style>
<div id="map" style="width:100%;height:92%"></div>

<% content_for :head do %>
<script type="text/javascript" charset="utf-8">
	 <%= render :partial => 'map_scripts.js' %>
</script>
<% end %>

<% form_for(map_path(@route)) do |f| %>
	<%= f.text_field :title %>
	<%= f.file_field :gpx %>
	<%= f.hidden_field :lat %>
	<%= f.hidden_field :lng %>
	<%= f.hidden_field :zoom %>
	<%= f.hidden_field :map_type %>
	<%= f.hidden_field :path %>
<% end %>
