<h1>Welcome <%= @user.name %>!</h1>
<p><%= link_to @options[:url], @options[:url] %></p>

<p>
	username: <strong><%= @user.email %></strong><br />
	password: <strong><%= @password %></strong>
</p>

<p>Welcome to <%= @options[:title] %>. Please take a moment to log in and browse the site. You can change your password after logging in.</p>

<p>
	Happy trails,<br />
	Kyle
	<a href="http://wenthiking.com/with/1-kyle-meyer/hikes">http://wenthiking.com/with/1-kyle-meyer/hikes</a>
</p>
