<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title><%= page_title %> | Went Hiking</title>
<meta name="description" content="<%= yield(:meta) || 'Hiking &amp; backpacking trip logs made easy. View local trail descriptions, trip reports, and photos, and create your own hiking blog to record your trips into thw wilderness.' %>" />
<%= stylesheet_link_tag :application %>
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;v=3.4&amp;libraries=geometry&amp;language=en" type="text/javascript"></script>
<%= javascript_include_tag :application %>
<%= yield :head %>
<%= render :partial => 'layouts/analytics' %>
</head>
<body>
	<div id="navigation">
	<div class="container">
		<%= link_to(image_tag("went_hiking.png", :alt => "Went Hiking"), root_path, :id => "logo") %>
		<div class="nav">
		<% if current_user.blank? %>
			<%= link_to image_tag('star.png') + " Log in", login_path, :id => "login", :onclick => "$('#login_form').fadeToggle(75);$('#user_session_email').focus();return false" %>
			<% @user_session = UserSession.new %>
			<%= render "user_sessions/popup" %>
		<% else %>
			<%= link_to "Add hike", new_user_hike_path(current_user), :id => "add_link" %>
			<%= link_to "Profile", user_hikes_path(current_user), :id => "profile_link" %>
			<%= link_to "Settings", edit_user_path(current_user), :id => "settings_link" %>
			<%= link_to "Forecasts", forecast_path(current_user), :id => "forecasts_link" %>
			<%= link_to "Map", map_path(current_user), :id => "map_link" %>
			<%= link_to "Log out", logout_path, :id => "logout_link" %>
		<% end %>
		<%= form_tag "/search", :method => :get, :id => "search" do %>
			<%= text_field_tag :q, nil, :placeholder => "Search…" %>
			<%= image_submit_tag "magnifier.png", :id => "search_link" %>
		<% end %>
		</div>
	</div>
	</div>
	<%= yield :before_header %>
			<% if content_for? :header %>
			<div id="header">
			<div class="container">
				<%= yield :header %>
			<div class="clearer"></div>
			</div>	
			</div>
			<% end %>
	<%= yield :map %>
	<div id="content">
	<div class="container">
			<%- flash.each do |name, msg| -%>
	      		<%= content_tag :div, msg, :class => "flash #{name}" %>
	    	<%- end -%>
			<%= yield %>
	</div>
	<div class="clearer"></div>
	</div>
	<div id="footer">
		<div class="container">
		<div class="column">
			<p>
				<iframe src="http://www.facebook.com/plugins/like.php?app_id=151577808250088&amp;href=http%3A%2F%2Fwenthiking.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px; display:inline-block" allowTransparency="true"></iframe>
				<g:plusone size="medium" href="http://wenthiking.com"></g:plusone>				
			</p>
			
			<p>Went Hiking &copy; 2010. All rights reserved. All photos &copy; their respective owners. Photos may not be used or modified without express written consent of the author.<br /> <%= link_to "About", "/about" %> | <%= link_to "Privacy Policy", "/privacy_policy" %></p>
		</div>
		<div class="column last">
			<p>
				<a href="http://twitter.com/wenthiking" class="twitter-follow-button" data-show-count="true">Follow @wenthiking</a>
				<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
			</p>
			<p>This website was lovingly crafted by <a href="http://kaiuhl.com">Kyle Meyer</a>, a web designer, developer, and backpacker in Portland, Oregon. Question or comment? Please <%= mail_to "kyle@wenthiking.com", "email me." %></p>
		</div>
		<div class="clearer"></div>
		</div>
	</div>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</body>
</html>