<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title><%= page_title %> | Went Hiking</title>
<%= stylesheet_link_tag :application %>
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;v=3.4&amp;libraries=geometry&amp;language=en" type="text/javascript"></script>
<%= javascript_include_tag :application %>
<style type="text/css" media="screen">
	
</style>
<script type="text/javascript">
$(document).ready(function(){
	$("#small_container").draggable();
	$("#user_session_email").select().focus();
	beef.defaults.zoom 			= 5;
	beef.defaults.lat			= 39.48;
	beef.defaults.lng			= -98.18;
	beef.defaults.doubleclick 	= true;
	beef.defaults.scrollwheel 	= true;
	beef.load();
	topo();
})
</script>
<%= render :partial => 'layouts/analytics' %>
</head>
<body style="background:black">
	<div id="map" style="width:100%;height:100%;position:absolute;z-index:0;top:0;opacity:1"></div>
	<div class="container small box" id="small_container">
	<div id="navigation">
		<%= link_to(image_tag("went_hiking.png", :alt => "Went Hiking"), root_path) %>
	</div>
	<%- flash.each do |name, msg| -%>
     		<%= content_tag :div, msg, :id => "flash_#{name}" %>
   	<%- end -%>
	<%= yield %>
	</div>
</body>
</html>